@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
:root {
    --gray: #343138;
    --red-crimson: rgb(220, 20, 60);
    --red-drak: rgba(180, 46, 46, 0.9);
    --black: #333;
    --white: #fff;
    --rgba-color: rgba(0,0,0,0.4);
    --wheat: #f5deb2;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* Navigation Bar Styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
    /* background-color: crimson; */
    transition: all 0.3s ease;
}
.navbar.sticky {
    padding: 15px 0;
    background-color: crimson;
}
.navbar  .logo span.showgames {
    color: #fff;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span {
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
    color: #fff;
}
.navbar.sticky .menu li:hover a{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li:hover a {
    color: crimson;
}
/* home-section-styling */
.home {
    display: flex;
    background: url("images/banner.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: "Ubuntu", sans-serif;
}
.home .max-width {
    margin: auto 0 auto 40px;
    
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0 ;
}
.home .max-width .discover-box {
    margin-top: 30px;
}
.home .discover-box a{
    display: inline-block;
    background-color: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .discover-box a:hover{
    color: #fff;
    background: none;

}

/* Team Profile Section Styling */
section{
    padding: 100px 0;
}
.profile{
    font-family: 'Poppins', sans-serif;
}
.profile .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.profile .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 240px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.profile .title::after{
    content: "Personal Information";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}
.profile .profile-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.profile .profile-content .left{
    width: 45%;
}
.profile .profile-content .left img{
    height: 400px;
    width: 300px;
    object-fit: cover;
    border-radius: 6px;
}
.profile .profile-content .right{
    width: 55%;
}
.profile .profile-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.profile .profile-content .right .text span{
    color: crimson;
}
.profile .profile-content .right .text p{
    text-align: justify;
}
.profile2{
    font-family: 'Poppins', sans-serif;
}
.profile2 .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.profile2 .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 240px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.profile2 .title::after{
    content: "Group Process";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}
.profile3{
    font-family: 'Poppins', sans-serif;
}
.profile3 .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.profile3 .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 240px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.profile3 .title::after{
    content: "Career Plan";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}
/* project description */
/* title */
.project-desc {
    background-color: black;
}
.detail {
    color: var(--white)!important;
    margin-top: 20px;
    margin-bottom: 20px !important;
}
.project-description-title {
    color: var(--wheat);
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.project-desc .project-description-title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 240px;
    height: 3px;
    background: var(--white);
    transform: translateX(-50%);
}
.project-desc .project-description-title::after {
    content: "Click for information";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: var(--red-crimson);
    padding: 5px;
    background: black;
    transform: translateX(-50%);
}
.project-desc .subproject::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 120px;
    height: 3px;
    background: var(--wheat);
    transform: translateX(-50%);
}
.project-desc .subproject::after {
    content: "Overview";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: var(--red-crimson);
    padding: 5px;
    background: black;
    transform: translateX(-50%);
}
/* content */
/*first rows */
.project-desc .project-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-desc .project-content {
    margin-left: 110px;
    margin-right: 110px;
}   
/* overview btn */
.project-desc .project-content button:hover {
    color: var(--white);
    background-color: var(--red-crimson);
}
.project-desc .project-content .overview-item {
    background-color: var(--red-crimson);
    color: var(--wheat);
}
.project-desc .project-content .overview-item:hover {
    background-color: var(--wheat);
    color: var(--red-crimson);
}
/* detail btn */
.project-desc .project-content button{
    list-style: none;
    color: var(--red-crimson);
    font-family: "ubuntu",sans-serif;
    font-size: 22px;
    font-weight: 600;
    background-color: var(--white);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.project-desc .project-content  button{
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

.project-desc .project-content .risk{
    margin-left: 182px;
}
.project-desc .project-content .communication{
    margin-right: 182px;
}
/* reflection */
.outcome {
    background-color: var(--gray);
}

.outcome .outcome-container {
    padding: 25px 50px;
    background-color: wheat;
    border-radius: 10px;
}
.outcome .outcome-container .header {
    padding: 20px;
    display: inline-block;
    text-align: center;
    justify-content: start;
    font-size: 17px;
    font-family: "unbuntu",sans-serif;
    border-radius: 10px;
    background-color: var(--red-crimson);
    color: var(--wheat);
    font-weight: 600;
    margin-top: 15px;
}
.outcome .outcome-container .content {
    padding: 20px;
    background-color: var(--white);
    margin-top: 15px;
    border-radius: 10px;
    color: var(--black);
    margin-right: 60px;
    margin-left: 60px;
    font-family: "ubuntu", sans-serif;
}
.outcome .outcome-container .content li {
    padding: 5px;
    margin-left: 15px;
}
.outcome .outcome-title {
    color: var(--wheat);
}
.outcome .sub-outcome::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 240px;
    height: 3px;
    background: var(--wheat);
    transform: translateX(-50%);
}

.outcome .sub-outcome::after {
    content: "https://wao-3.jimdosite.com/";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 16px;
    color: var(--red-crimson);
    padding: 5px;
    background: var(--gray);
    transform: translateX(-50%);
}
/* reflection */
.reflection {
    font-family: "ubuntu",sans-serif;
}
.reflection .reflect-title {
    color: var(--black);
}
.reflection .sub-reflect::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 240px;
    height: 3px;
    background: var(--wheat);
    transform: translateX(-50%);
}
.reflection .sub-reflect::after {
    content: "WE ARE ONE";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: var(--black);
    padding: 5px;
    background: var(--white);
    transform: translateX(-50%);
}
.reflection .reflect-container {
    padding: 20px;
    background-color: var(--gray);
    border-radius: 6px;
    /* rotate: 45%; */
}
.reflect-container .reflect-content{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.reflection .reflect-content .column-left{
    width: 45%;
}
.reflect-content .column-left img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.reflect-content .column-right  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}
.reflect-content .column-right h1 {
    margin-bottom: 10px;
    color: var(--wheat);
}
.reflect-content .column-right p {
    color: var(--white);

}
/* skill & job */
.skills-jobs {
    font-family: "ubuntu",sans-serif;
}
.max-width .skill-title {
    color: var(--black);
}
.skill-job-content {
    display: flex;
    margin-top: 5px;
}
.skill-job-layout{
    padding: 20px;
    background-color: var(--gray);
    border-radius: 10px;
}
.skill-job-content .job {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    background-color: var(--red-crimson);
    font-size: 23px;
    color: wheat;
    font-weight: 600;
}

.skill-job-content .job-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: var(--wheat);
    margin-left: 5px;
}
.skills-jobs .sub-skill-title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 240px;
    height: 3px;
    background: var(--wheat);
    transform: translateX(-50%);
}
.skills-jobs .sub-skill-title::after {
    content: "For Next Pharse";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: var(--black);
    padding: 5px;
    background:  var(--white);
    transform: translateX(-50%);
}
/* modal display */
.modal.open {
    display: flex;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}

.modal .modal-container {
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 578px;
    background-color: var(--white);
    position: relative;
}
.modal-container .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    background-color: var(--gray);
    font-size: 40px;
    font-family: "ubuntu",sans-serif;
    font-weight: 500;
    color: var(--white);
 
}
.title-container .info-btn {
    margin-right: 10px;
    font-weight: 500;
}
.modal-container .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: var(--red-crimson);
}
.modal-container .close-btn:hover {
    background-color: rgb(220, 20, 60,0.9);
}
.grid-table {
    display: grid;
    grid-template-rows: 150px 100px 150px;
    font-family: 'ubuntu',sans-serif;
}
/* main aim */
.grid-table .grid-style{
    padding-right: 5px;
    padding-left: 5px;
}
.grid-style .main-aim {
    display: flex;
    padding-top: 5px;
    justify-content: space-around;
}
.grid-style .main-aim .main-aim-right {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 145px;
    background-color: var(--red-drak);
    color: var(--white);
    font-weight: 600;
    font-size: 35px;
}
.grid-style .main-aim .main-aim-left {
    width: 100%;
    height: 145px;
    background-color: var(--wheat);
}
.main-aim-left .definition {
    padding: 5px;
}
.main-aim-left .definition h1{
    font-size: 16px;
}
.main-aim-left .definition p{
    font-size: 12px;
}
.main-aim-left .main-aim-detail {
    margin-left: 20px;
    margin-right: 20px;
}
.main-aim-left .main-aim-detail h1 {
    font-size: 14px;
}
.main-aim-left .main-aim-detail p {
    font-size: 12px;
}
/* goal title */
.grid-style .goal-title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
}
.grid-style .goal-title .goal{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray);
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
    border: 1px solid var(--white);
}
.grid-style .goal-title .goal1 {
    margin-left: -1px;
}
.grid-style .goal-title .goal3 {
    margin-right: -1px;
}
/* goal information */
.grid-style .goal-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
}
.goal-info .goal-desc h1 {
    padding-left: 5px;
    font-size: 16px;
}
.goal-info .goal-desc p{
    padding-left: 5px;
    font-size: 12px;
}
.goal-info .goal-detail h1{
    padding-left: 20px;
    font-size: 14px;
}
.goal-info .goal-detail p {
    padding-left: 20px;
    font-size: 12px;
}
/* role modal */
.modal-plan.open {
    display: flex;
}
.modal-plan {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}
.modal-plan .modal-container-plan {
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 580px;
    background-color: var(--white);
    position: relative;
}
/* close button */
.modal-plan {
    font-family: "ubuntu",sans-serif;
}
.modal-container-plan .close-plan-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: var(--red-crimson);
}
.modal-container-plan .close-plan-btn:hover {
    background-color: rgb(220, 20, 60,0.9);
}
/* title css */
.modal-container-plan .title-container-plan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    background-color: var(--gray);
    font-size: 40px;
    font-weight: 500;
    color: var(--white);
 
}
.title-container-plan .info-btn {
    margin-right: 10px;
    font-weight: 500;
}
/* role content */
.modal-container-plan .content-layout {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 22px;
}
.modal-container-plan .content-layout .grid-table-plan {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 100px 100px 120px;
    margin-top: 10px;
}
.content-layout .grid-table-plan .header {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: var(--wheat);
    background-color: var(--red-crimson);
}
.content-layout .grid-table-plan .discription {
    display: flex;
    align-items: center;
    margin-top: 5px;
    background-color: var(--wheat);
    padding: 10px;
    font-size: 14px;
}
/* modal-scope */
.modal-tool.open{
    display: flex;
}
.modal-tool {
    font-family: "ubuntu",sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}
.modal-tool .modal-container-tool {
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 520px;
    background-color: var(--white);
    position: relative;
}
.modal-container-tool .scope-tool-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: var(--red-crimson);
}
.modal-container-tool .scope-tool-btn:hover {
    background-color: rgb(220, 20, 60,0.9);
}
.modal-container-tool .title-container-tool {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    background-color: var(--gray);
    font-size: 40px;
    font-weight: 500;
    color: var(--white);
}
.modal-container-tool .tool-btn {
    padding: 20px;
}
.grid-tool-content {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.grid-tool-content .grid-right-side {
    width: 300px;
    height: 500px;
    margin-left: 30px;
    background-image: url("./images/modal/detail/tool&technology/tool.png");
    background-size: cover;
}
.grid-tool-content .grid-left-side {
    margin-left: 66px;
    width: 400px;
    height: 420px;
    display: flex;
    align-items: center;
    background-color: var(--wheat);
    padding: 20px   ;
}
/* testing modal*/
.modal-testing.open {
    display: flex;
}
.modal-testing {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}
.modal-testing .modal-container-testing {
    width: 900px;
    max-width: calc(100% - 32px);
    height: 750px;
    background-color: var(--white);
    position: relative;
}
/* close button */
.modal-testing {
    font-family: "ubuntu",sans-serif;
}
.modal-container-testing .close-testing-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: var(--red-crimson);
}
.modal-container-testing .close-testing-btn:hover {
    background-color: rgb(220, 20, 60,0.9);
}
/* title css */
.modal-container-testing .title-container-testing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    background-color: var(--gray);
    font-size: 40px;
    font-weight: 500;
    color: var(--white);
 
}
.title-container-testing .testing-btn {
    margin-right: 10px;
    font-weight: 500;
}
.modal-container-testing .testing-content-layout {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 22px;
}
.modal-container-testing .testing-content-layout .grid-table-testing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 300px;
    margin-top: 10px;
}
.testing-content-layout .grid-table-testing .header {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: var(--wheat);
    background-color: var(--red-crimson);
    margin-right: 40px;
    margin-left: 40px;
    font-weight: 600;
}
.testing-content-layout .grid-table-testing .discription {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin-top: 5px;
    background-color: var(--wheat);
    padding: 10px;
    font-size: 14px;
    margin-right: 40px;
    margin-left: 40px;
}
.testing-content-layout .grid-table-testing .discription ul {
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.testing-content-layout .grid-table-testing .discription li {
    margin: 5px;
}

/* overview  topic*/
.modal-topic.open {
    display: flex;
}
.modal-topic {
    /* display: flex; */
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--rgba-color);
    font-family: "ubuntu",sans-serif;
}
.modal-topic .modal-topic-container {
    position: relative;
    width: 900px;
    min-height: 580px;
    background-color: #fff;
}
.modal-topic-container .close-topic-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: var(--red-crimson);
}
.modal-topic-container .close-topic-btn:hover {
    background-color: var(--red-drak);
}
.modal-topic-container .modal-header i {
    padding: 5px;
}
.modal-topic .modal-topic-container .modal-header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--wheat);
    background-color: var(--gray);
    font-weight: 600;
}
.modal-topic-container .cotent-container {
    display: flex;
    width: 100%;
    height: 500px;
    background-color: var(--wheat);
}

.modal-topic-container .cotent-container .left {
    width: 300px;
    height: 400px;
    margin: 50px;
    background: url("./images/modal/overview/idea.png") no-repeat center;
    background-size: contain;
}   

.cotent-container .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}
.cotent-container .right .para {
    padding: 20px;
    background: var(--white);
    margin-right: 10px;
} 
/* modal motivation*/
.modal-motivation.open {
    display: flex;
}
.modal-motivation {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--rgba-color);
    font-family: "ubuntu",sans-serif;
}
.modal-motivation-container {
    position: relative;
    width: 900px;
    min-height: 510px;
    background-color: var(--wheat);
}
.modal-motivation-container .exit-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: var(--red-crimson);
}

.modal-motivation-container .exit-btn:hover {
    background-color: var(--red-drak);
}
.modal-motivation-container .motivation-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    font-size: 30px;
    background-color: var(--gray);
    color: var(--wheat);
    font-weight: 600;
}
.modal-motivation-container .motivation-header i {
    margin-right: 10px;
}
.modal-motivation-container .content-container {
    display: flex;
    width: 900px;
    height: 400px;
    padding: 20px;
}

.modal-motivation-container .content-container .right {
    display: flex;
    width: 200px;
    height: 380px;
    align-items: center;
    justify-content: center;
}
.modal-motivation-container .content-container .left {
    display: flex;
    align-items: center;
    width: 600px;
    background-color: var(--white);
    border-radius: 10px;
}
.content-container .left p {
    margin-left: 10px;
    margin-right: 10px;
}
/* modal-landscape */
.modal-landscape.open {
    display: flex;
}
.modal-landscape {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    font-family: "ubuntu",sans-serif;
}
.modal-landscape-container {
    position: relative;
    width: 900px;
    min-height: 510px;
    background-color: var(--wheat);
}
.modal-landscape-container .exit-btn-landscape {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: var(--red-crimson);
    transition: all 0.3s ease;
}
.modal-landscape-container .exit-btn-landscape:hover {
    background-color: var(--red-drak);
}
.modal-landscape-container .landscape-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    font-size: 30px;
    background-color: var(--gray);
    color: var(--wheat);
    font-weight: 600;
}
.modal-landscape-container .landscape-header i {
    margin-right: 10px;
}
.content-container {
    height: 450px;
    display: flex;
}
.modal-landscape-container  .content-container .right {
    display: flex;
    align-items: center;
    right: 50%;
    width: 200px;
    margin-right: -46px;
}
.modal-landscape-container  .content-container .right i {
    font-size: 50px;
    color: var(--black);
    margin-left: 50px;
}
.modal-landscape-container  .content-container .left {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: var(--white);
    border-radius: 10px;
}
.modal-landscape-container  .content-container .left ul{
    margin-left: 56px;
}
.modal-landscape-container  .content-container .left .first {
    margin-top: 20px;
}
.modal-landscape-container  .content-container .left .second {
    margin-bottom: 20px;
}
/* modal risk coding */
.modal-risk.open {
    display: flex;
}
.modal-risk {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    font-family: "ubuntu",sans-serif;
}

.modal-risk-container {
    position: relative;
    width: 900px;
    min-height: 580px;
}
.modal-risk-container .close-btn-risk {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: var(--red-crimson);    
}

.modal-risk-container .close-btn-risk:hover {
    background-color: var(--red-drak);
}
.modal-risk-container .risk-header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    color: var(--white);
    font-size: 35px;
    font-weight: 600;
}
.modal-risk-container .content-container {
    display: flex;
    flex-direction: row;
    width: 900px;
    margin-top: 5px;
}
.modal-risk-container .content-container .right .title,
.modal-risk-container .content-container  .left .title{
    width: 440px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--wheat);
    background-color: var(--red-crimson);
}

.modal-risk-container .content-container .discription {
    background-color: var(--wheat);
    font-size: 12px;
    margin-top: 5px;
}
.modal-risk-container .content-container .left .discription {
    margin-right: 20px;

}
.modal-risk-container .content-container .left .discription li {
    list-style-type: none;
}
.content-container  .left .discription li {
    padding: 5px 10px 5px 10px;
}
.content-container .right .discription {
    padding-bottom: 85px;
}
.content-container .right .discription li,
.content-container .right .discription p {
    padding: 5px 10px 5px 10px;
}
.content-container .right .discription li {
    margin-left: 20px;
}
/* communication modal */
.modal-communication.open {
    display: flex;
}
.modal-communication {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--rgba-color);
    font-family: "ubuntu",sans-serif;
}

.modal-communication .modal-communication-container {
    width: 1200px;
    height: 580px;
    background-color: var(--white);
    position: relative;
}
.modal-communication-container .communication-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: var(--red-crimson);
}
.modal-communication-container .communication-close-btn:hover {
    background-color: var(--red-drak);
}
.modal-communication-container .communication-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 100px;
    background-color: var(--gray);
    font-size: 30px;
    font-weight: 600;
    color: var(--white);  
}
.modal-communication-container .com-timetable-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
}
.modal-communication-container .com-timetable {
    display: flex;
    align-items: center;
    width: 45%;
    height: 400px;  
    background-image: url("./images/modal/detail/communication/timetable.jpg");
    background-size: contain;
    background-repeat:no-repeat ;
}
.modal-communication-container .issue-timetable {
    width: 500px;
    height: 360px;
    font-weight: 600;
    font-size: 15px;
}
.modal-communication-container .timetable-content {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.modal-communication-container .timetable-content .method {
    border-radius: 10px;
    padding: 10px;
    background-color: var(--red-crimson);
    color: var(--wheat);
    height: fit-content;
}
.modal-communication-container .timetable-content .content {
    margin-left: 10px;
    border-radius: 10px;
    background-color: var(--wheat);
    padding: 10px;
    font-weight: normal;
}
.modal-communication-container .timetable-content .email {
    margin-right: 5px;
}
.modal-communication-container .timetable-content .solution {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
.modal-communication-container .timetable-content .conclusion {
    background-color: var(--black);
    color: var(--white);
    font-weight: normal;
}
/* modal progress */
.modal-progress.open {
    display: flex;
}   
.modal-progress {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    font-family: "ubuntu",sans-serif;
    background-color: var(--rgba-color);
}
.modal-progress-container {
    position: relative;
    margin-top: 4945px;
    width: 900px;
    height: fit-content;
    background-color: var(--white);
}
.modal-progress-container .modal-progress-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: var(--red-crimson);
}
.modal-progress-container .modal-progress-btn:hover {
    background-color: var(--red-drak);
}
.modal-progress-container .progress-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--gray);
    color: var(--white);
    font-size: 25px;
    font-weight: 600;
}
.modal-progress-container .content-progress {
    padding: 30px;
    position: relative;
}
.modal-progress-container .content-progress .week-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-weight: 400;
    color: var(--wheat);
    font-size: 20px;
    background-color: var(--red-crimson);
    border-radius: 10px;
}
.modal-progress-container .content-progress .week-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
    padding: 5px 30px 5px 30px;
    background-color: var(--wheat);
    border-radius: 10px;
}
.modal-progress-container .content-progress .back {
    position: absolute;
    text-decoration: none;
    bottom: 0;
    right: 0;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--red-crimson);
    margin: 5px 5px 5px 0px;    
}
.modal-progress-container .content-progress .back a{
    color: var(--white);
}
/* modal scope */
.modal-scope.open {
    display: flex;
}
.modal-scope {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; 
    justify-content: center; 
    background-color: var(--rgba-color);
    font-family: "ubuntu",sans-serif;
}

.modal-scope-container {
    position: relative;
    width: 1200px;
    height: fit-content;
    border-radius: 10px;
    background-color: var(--white);
    margin-top: 4945px;
}
.scope-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--red-crimson);
    padding: 10px;
}
.scope-close-btn:hover {
    background-color: var(--red-drak);
}
.modal-scope-container .scope-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: var(--gray);
    font-size: 30px;
    color: var(--white);
    font-weight: 600;
}
.modal-scope-container .container {
    position: relative;
} 
.modal-scope-container .outline {
    display: inline-block;
    padding: 30px;
    margin: 40px;
    background-color: var(--wheat);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600px;
}

.modal-scope-container .achievement{
    margin-left: 350px;
    background: url("./images/modal/detail/scope&limit/achievement.jpg");
    height: 666px;
    width: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -90px;
}

.modal-scope-container .container {
    width: 1200px;
    height: fit-content;
}

.container .homepage {
    display: flex;
    flex-direction: row;
}
.container .img {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 150px 150px;
}
.container .img img {
    width: 300px;
    height: fit-content;
}
.container .content {
    width: 50%;
    height: 300px;
    margin-top: 8px;
    border-radius: 10px;
    background-color: var(--wheat);
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.container .content-l {
    width: 50%;
    height: 300px;

    margin-top: 8px;
    border-radius: 10px;
    background-color: var(--wheat);
    padding: 20px;
}
.container .img-r img {
    width: 600px;
}

.hompage .img-l  {
    width: 600px;
}
.container .img-l img {
    width: 600px;
}
.container .content-r {
    height: 300px;
    background-color: var(--wheat);
    border-radius: 10px;
    padding: 20px;
    margin-top: 8px;
}
.container .back {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    background-color: var(--red-crimson);
    border-radius: 10px;
}
.container .back a {
    color: var(--black);
}